.intro {
  margin: 20px;
  text-align: start;
}

.intro img {
  width: 100%;
  height: auto;
}

.titre_page q {
 font-family: var(--font-teko);
  font-weight: 600;
  font-size: var(--text-xl);
  line-height: 110%;
  margin: 0;
}

.article-card {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
  border-radius: 0.25rem;
  background-color: var(--green);
  margin: 20px;
  max-height: 400px;
  overflow-y: scroll;
}

.article-card img {
  position: sticky;
  top: 0;
  max-height: 100%;
  object-fit: cover;
}

.article-card a {
  color: var(--black);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 20px;
  text-decoration: none;
}
