.menu {
  background-color: var(--primary);
  color: var(--white);
  list-style-type: none;
  padding: 20px;
}

.menu a {
  color: var(--white);
  text-decoration: none;
  margin: -40px;
  line-height: 140%;
}

.btn-fermer {
  display: flex;
  justify-content: flex-end;
}

.langues {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 20px;
}
